<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">
  <div class="navbar-header">
  
    <a class="navbar-brand" href="/">
      <span class="glyphicon glyphicon-paperclip"></span>
      Stream
    </a>

    <ul class="nav navbar-nav">
      <% if(user === undefined) {%>
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/login">Log In</a></li>
      <%}else{%>
        <li><a href="/me/<%= user._id%>">Profile</a></li>
        <li><a href="/logout">Logout</a></li>
      <%};%>
    </ul>

  </div>
</div>
</nav>
