<!doctype html>
<html>
<head>
	<% include partials/head %>
</head>
<body>
<header>
    <% include partials/nav %>
</header>
<div class="container">
	<div class="jumbotron text-center">
		<h1><span class="fa fa-lock"></span> Stream !</h1>

		<p>Login or Register with:</p>
		
		<a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
		<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
	</div>
</div>
</body>
</html>
