html,
body {
    height: 100%;
}

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}

.filter {
    list-style: none;
}

.post-box {
    height: 400px;
    overflow: auto;
    overflow-y: scroll;
}
